# Core Django and utilities
Django==5.0.1
django-environ==0.11.2
dj-database-url==2.1.0

# Forms and UI
django-crispy-forms==2.1
crispy-tailwind==0.5.0
django-ckeditor==6.7.0
django-taggit==5.0.1

# Storage / Media
cloudinary==1.36.0
django-cloudinary-storage==0.3.0
django-storages==1.14.2

# Static files / assets
whitenoise==6.6.0
django-js-asset==3.1.2
django-compressor==4.4
django-cors-headers==4.3.1

# Database
psycopg[binary]==3.2.3 

# Python helpers
Pillow==12.1.0 # stable build on Render
python-dotenv==1.0.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.32.5
idna==3.11
jmespath==1.1.0
packaging==26.0
six==1.17.0
typing_extensions==4.15.0
urllib3==2.6.3

# Gunicorn for production server
gunicorn==21.2.0
